<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutiles</title>
</head>
<body>

<h1>Welcome to the text analyzer. Enter your text below.</h1>
<form action="/analyze" method="get">
    <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 1200px; height: 214px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove punctuations  <br>
    <input type="checkbox" name="fullcaps"> UPPER CASE   <br>
    <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover <br>
    <!-- <input type="checkbox" name="charcount">Charecter counter -->

    <button type="submit">Analyze Text</button>

</form>

</body>
</html>